  <div class="container contact-list">
      <h2 class="pull-left">Contact List</h2>
      <button type="button" class="btn btn-success pull-right add-contact-btn" (click)="addEditContact('add')">Add Contact</button>     
      <div class="clearfix"></div>
      <hr/>
      <table class="table">
          <thead>
            <tr>
              <th class="hidden">Id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Status</th>
              <th colspan="2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contact of contactList">
              <td class="hidden">{{contact.id}}</td>
              <td>{{contact.firstName}}</td>
              <td>{{contact.lastName}}</td>
              <td>{{contact.email}}</td>
              <td>{{contact.phoneNumber}}</td>
              <td>{{contact.status === true ? "Active": "Inactive" }}</td>
              <td><button type="button" class="btn btn-default" (click)="addEditContact('edit', contact.id)">Edit</button></td>
              <td><button type="button" class="btn btn-danger" (click)="deleteContact(contact.id)">Delete</button></td>
            </tr>
          </tbody>
        </table>      
  </div>